<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightsapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlightsApp">
        <activity android:name="com.example.flightsapp.View.AuthActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.flightsapp.View.MainActivity" />
        <activity android:name="com.example.flightsapp.View.ImageActivity" />
        <activity android:name="com.example.flightsapp.View.FlightDetailsActivity" />
        <activity android:name="com.example.flightsapp.View.AdminPanelActivity" />
        <activity android:name="com.example.flightsapp.View.EditFlightStatusActivity" />
        <activity android:name="com.example.flightsapp.View.EditRouteActivity" />
        <activity android:name="com.example.flightsapp.View.EditFlightActivity" />
        <activity android:name="com.example.flightsapp.View.EditAirlineActivity" />



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>